// this is section Slider
@media screen and (min-width:1200px){
    header,footer,div,section,img,p,h1,h2,h3,h4,h5,h6{
        display:block;
    }
       //------------------- Colorss
       $ColorCoronatext:#000000;
       $BgCorona:#ffaa0f;
       $BgCoronaBtn:#ffcb6a;
       $CoverSlider:#0000009c;
       $ColorIcons:#ffff;
       $HoverColorIcons:#ffaa0f;
       $BgLoc:#585858;

   //--------------- display flex
 
   // flexStart
   @mixin flexStart {
       display: flex;
       justify-content:flex-start;
       align-items: center;
   }
//    FlexSpaceAround
   @mixin spaceAround {
       display: flex;
       justify-content:space-around;
       align-items: center;
   }
//    flexCenter
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexStart {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
    // section Slider
    section#Slider{
        width: 100%;
        min-height: 465px;
        // border: 1px solid black;
        background: url(../backGroundSlider/flight-bg.jpg);
        background-position:center;
        background-size: cover;
        position: relative;
        // background-attachment: fixed;

    //   Corona Alert
        #Corona{
            width: 100%;
            height: 60px;
            background-color: $BgCorona;
            // margin:6% 0px;
            @include flexCenter();

            // Icon Remove
            #remove{
              font-size: 1.5rem;
              cursor: pointer;
            }
            // mtn 
            p{
                font-size: 0.8rem;
                padding: 0px 10px;
            }
            // btn
            a{
                padding: 10px 15px;
                background-color: $BgCoronaBtn;
                color: $ColorCoronatext;
                border-radius: 5px;
                font-size: 0.7rem;
                @include flexCenter();
            }

        }
        // this is container and Cover
          // ALL Cover
          #CoverSlider{
            width: 100%;
            height: 250px;
            background-color: $CoverSlider;
            position: absolute;
            bottom:0;
            // margin-top: 20%;

            .container{
                width: 95%;
                height: auto;
                margin: 0 auto;
    
                .row{
                    width: 100%;
                    height: 100%;
                  
                  #Top,#Between,#Bottom{
                      width: 100%;
                      height: 10%;
                    //   border: 1px solid red;
                  }
                  //------------------Top
                  #Top{
                      width: 100%;
                      height: auto;
                    //   border: 1px solid green;
                      @include spaceAround();
                      position: relative;
                      margin-top: -45px;

                     .CoverIcons{
                         width: 90px;
                         height: 90px;
                         // border: 1px solid black;
                         @include flexStart();
                         flex-direction: column;
                         position: relative;

                         h4{
                            //  border: 1px solid blue;
                             min-width: 200px;
                             position: absolute;
                             bottom: -20%;
                             color: $ColorIcons;
                             @include flexCenter();
                             cursor: pointer;
                         }
                          #B{
                              top: 50%;
                              left: 50%;
                              transform: translate(-50%,-50%);
                          }
                         #T,#B{
                             width: 100%;
                             height: 50%;
                             position: absolute;
                             @include flexCenter();
                           
                             //Top that just one 
                             .Squre{
                                display: flex;
                                width: 50%;
                                height: 100%;
                                background-color: $CoverSlider;

                             }
                             #SR{
                                 border-radius: 0 100% 0 0;
                             }
                             #SL{
                                 border-radius: 100% 0 0 0;
                             }
                             
                             .Icons{
                                width: 60px;
                                height: 60px;
                                border: 1px solid #fff;
                                border-radius: 50%;
                                @include flexCenter();

      
                                i{
                                    font-size: 2.5rem;
                                    color:$ColorIcons;
                                    position: absolute;
                                    cursor: pointer;
                                    
                                    
                                }
                         }
                         
                        &:hover i ,&:hover .Icons,&:hover ~h4{
                            color: $HoverColorIcons;
                            cursor: pointer;
                        }

                        }
                        
                     }
                  }
                  //----------------BetWeen
                  #Between{
                      margin-top: 20px;
                      width: 100%;
                      height: 70px;
                    //   border: 1px solid green;
                      display: flex;
                      align-items: center;
                    #AllRdio{
                        width: 93%;
                        height: auto;
                        margin:0 auto;
                        display: flex;
                        align-items: center;

                        li{
                            width: auto;
                            height: auto;
                            padding: 0px 5px;
                            h4{
                                color: $ColorIcons;
                            }
                            input[type='radio']:after {
                                width: 15px;
                                height: 15px;
                                border-radius: 15px;
                                top: -2px;
                                left: -1px;
                                position: relative;
                                background-color: #d1d3d1;
                                content: '';
                                display: inline-block;
                                visibility: visible;
                                border: 2px solid white;
                            }
                        
                            input[type='radio']:checked:after {
                                width: 15px;
                                height: 15px;
                                border-radius: 15px;
                                top: -2px;
                                left: -1px;
                                position: relative;
                                background-color: #ffa500;
                                content: '';
                                display: inline-block;
                                visibility: visible;
                                border: 2px solid white;
                            }
                        }
                    }
                      
                  }

                  //----------------Bottom
                  #Bottom{
                      width: 100%;
                      height: 100px;
                    //   border: 1px solid green;
                    
                      #AllTravel{
                          width: 100%;
                          height: 100%;
                          @include spaceAround();

                          .Right{
                              width: 50%;
                              height: 100%;
                            //   border: 1px solid red;
                           //   @include flexCenter();

                              //input Right
                              #InputPartsAll{
                                @include flexStart();
                                  width: 100%;
                                  height:55px;
                                //   border: 1px solid blue;
                                  overflow: auto;
                                  position: relative;
                                  margin-right: 50px;
                                  

                                      #Loc{
                                          width: 10%;
                                          height: 100%;
                                          background-color: $ColorIcons;
                                          @include flexCenter();

                                          i{
                                              color: $BgLoc;
                                          }
                                      }
                                      #Input{
                                          width: 35%;
                                          height: 100%;

                                          input{
                                              width: 100%;
                                              height: 100%;
                                              border: none;
                                              padding-right: 5px;
                                              font-size: 0.9rem;
                                              color: $BgLoc;
                                            //   border-left: 1px solid $BgLoc;

                                              &:focus{
                                                  outline: none;
                                              }
                                          }
                                         

                                      }
                                      #Pikan{
                                        width: 30px;
                                        height: 30px;
                                        border-radius: 50%;
                                        position: absolute;
                                        border: 1px solid gray;
                                        z-index: 20;
                                        top: 50%;
                                        left: 55%;
                                        transform: translate(-50%,-50%);
                                        @include flexCenter();
                                        background-color: $ColorIcons;
                                        cursor: pointer;
                                        i{
                                            font-size: 0.9rem;
                                            color: $HoverColorIcons;
                                            cursor: pointer;

                                        }
                                        &:hover i{
                                            color: $ColorIcons;
                                            
                                        }
                                        &:hover{
                                            background-color: $HoverColorIcons;
                                        }
                                    }
                                  }

                                  
                              }
                         .Left{

                            width: 50%;
                            height: 100%;
                        //    border:1px solid  blue;
                            //@include flexCenter();

                           #Data-Btns{
                               width: 100%;
                               height: 55px;
                            //    border: 1px solid green;
                               display: flex;
                           
                             // input Data and Calnder
                            .DataGo-Back{
                                width: 50%;
                                height: 100%;
                                // border: 1px solid blue;
                                display: flex;
                                overflow: auto;
                                border-radius: 5px;

                                .IconDataGo{
                                    width: 50px;
                                    height: 100%;
                                    background-color: $ColorIcons;
                                    @include flexCenter();

                                    i{
                                        color: $BgLoc;
                                    }
                                }
                                input{
                                    width: 40%;
                                    height: 100%;
                                    background-color: $ColorIcons;
                                    padding-left:5px;
                                    border: none;  
                                    &:focus{
                                        outline: none;
                                    }                                  
                                }
                            }
                            // input Passenger
                            .Passenger{
                                width: 20%;
                                height: 100%;
                                // border: 1px solid red;
                                display: flex;
                                margin: 0px 5px;
                                border-radius: 5px;
                                overflow: auto;

                                .IconPerson{
                                    width:50px;
                                    height: 100%;
                                    background-color: $ColorIcons;
                                    @include flexCenter();
                                    i{
                                        color: $BgLoc;
                                    }

                                }
                                input{
                                    width: 75%;
                                    height: 100%;
                                    border: none;
                                    padding-left: 5px;
                                    &:focus{
                                        outline: none;
                                    }
                                }
                            }
                            // buutton Search
                            .BtnSreach{
                                width: 30%;
                                height: 100%;
                                // border: 1px solid green;
                                @include flexCenter();

                                a{
                                    @include flexCenter();
                                 width: 100%;
                                 height: 100%;
                                 background-color: $BgCorona;
                                 color: $ColorIcons;
                                 border-radius: 5px;
                                 font-size: 1.3rem;
                                }
                            }
                           }






                              }
                          }
                      }
                  }
    
    
              
                }


          }

    
        }
    }

