@font-face {
    font-family:iran;
    src: url(../font/Iranian.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: iran;
}
html,body{
    width: 100%;
    height: 100%;

}
header,footer,div,section,img,p,h1,h2,h3,h4,h5,h6{
    display: none;
}
@import "header";